body.mainWindow {
    padding: 450px 0 0;
}

.timerArea {
    background-color: #f5f7fa;
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    height: 450px;
    z-index: 2;
}

canvas {
    margin-left: 8px;
}

.hours {
    float: left;
    font-size: 60pt;
    margin-left: 5px;
}

.minutes {
    float: left;
    font-size: 60pt;
    /*margin-left: 5px;*/
}

.seconds {
    float: left;
    font-size: 60pt;
    /*margin-left: 5px;*/
}

.timer {
    margin-left: 43px;
    margin-top: -193px;
    text-align: center;
}

.timer-button {
    margin-top: 200px;
    text-align: center;
}

.timer-start {
    background-color: transparent;
    border-color: #ff4500;
    color: #ff4500;
}

.timer-start:hover {
    background-color: #ff4500;
    border-color: transparent;
    color: white;
}

.todo-add-area {
    font-size: 16pt;
    margin-left: 7px;
}

#btn-add-task {
    background-color: transparent;
    border-color: #ff4500;
    color: #ff4500;
}

#btn-add-task:hover {
    background-color: #ff4500;
    border-color: transparent;
    color: white;
}

table {
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 10px;
    font-size: 14pt;
    width: 290px;
}

.task-number {
    width: 30px;
}

.taskName {
    width: 160px;
    overflow-x: auto;
}

.doneButton {
    width: auto;
}

.aboutWindow {
    text-align: center;
    margin-top: 20px;
}

.overview {
    margin: 10px 0 20px;
}
